.formBackground{
    background-color: rgb(242, 246, 228);
}
.formPosition{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.inputPosition{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}